{% extends 'base.html' %}
{% load static %}

{% block title %} Login {% endblock %}

{% block css %}<link rel='stylesheet' href='{% static "css/login.css" %}'>{% endblock %}
{% block js %}<script src='{% static "js/login.js" %}'></script>{% endblock %}

{% block body %} 
     <div class="container">
        <div class='title'><h2>Login</h2></div>
        <form method='post'>
            {%  csrf_token %}
            <input type="text" placeholder="Username" class="text-input" id='username'>
            <input type="password" placeholder="Password" class="text-input" id='password'>
            <span><a class="link">Forgot Password?</a></span>
            <button type="submit" class="submit">Submit</button>
            <span><a class="link" href='/signup'>Don't Have an account? Create one</a></span>
            <span class='error'></span>
        </form>
    </div>
{% endblock %}