@font-face {
    font-family: 'libre-baskerville';
    src: url('../fonts/LibreBaskerville-Regular.ttf') format('truetype');
}

body{
    background-color: #E9ECEF;

    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: 'libre-baskerville', serif;
    font-size: 3rem;
    color: #212529;
}

h2{
    font-family: 'libre-baskerville', serif;
    font-size: 2rem;
    color: #212529;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.container{
    background-color: #CED4DA;
    border-radius: 40px;

    width: 400px;
    height: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 30px;
    margin: 30px;
}

.text-input{
    width: 80%;
    height: 40px;

    margin: 10px;

    border: none;
    border-radius: 10px;

    padding: 10px;

    font-size: 1rem;
}

.submit{
    width: 100%;
    height: 40px;

    background-color: #1c75ce;
    color: #ffffff;

    margin: 10px;

    border: none;
    border-radius: 18px;

    padding: 10px;

    font-size: 1rem;
}

.link{
    text-decoration: none;
    color: #1c75ce;
    
    align-items: right;
    width: 100%;

    font-size: 0.9rem;
}
