@font-face {
    font-family: 'libre-baskerville';
    src: url('../fonts/libre-baskerville.regular.ttf') format('truetype');
}

body{
    background: linear-gradient(135deg, #6C757D, #ADB5BD, #CED4DA);
    background-repeat: no-repeat;
    min-height: 100vh;

    color: white;

    

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: auto;
}

h1{
    font-family: 'libre-baskerville', serif;
    font-size: 3rem;

    color: #ffffff;
}

h2{
    font-family: 'libre-baskerville', serif;
    font-size: 2rem;

    color: #212529;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.container{
    background-color: #CED4DA;
    border-radius: 40px;

    width: 400px;
    height: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 30px;
    margin: 30px;
}

.larger_container{
    background-color: #CED4DA;
    border-radius: 40px;

    width: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
}

.larger_container form{
    max-height: 50vh;
}

.submit{
    width: 100%;
    height: 40px;

    background-color: #1c75ce;
    color: #ffffff;

    margin: 5px;

    border: none;
    border-radius: 18px;

    padding: 10px;

    font-size: 1rem;
}

.navbar{
    width: 100%;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;

    background-color: #6C757D;
}

#logo{
    justify-content: center;
}

#logo p{
    padding: 5vw;
}

#logo form{
    max-width: 15%;
    padding: 5vw;
}

#logo h1{
    width: 50%;
    padding: 5vw;
}

#logout{
    background-color: #ffffff;
    color: #000000;

    border: none;
    border-radius: 18px;

    padding: 5px 10px;
}

#logout:hover{
    opacity: 50%;
}

.navbar a{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 25%;
    height: 100%;

    color: #ffffff;
    text-decoration: none;
}

.navbar a:hover{
    background-color: #495057;
}

