{% extends 'base.html' %}

{% block title %} Account {% endblock %}

{% block body %} 

<h1>Account</h1>

<div class='larger_container'>
    <h1>Your black list</h1>
    <div>
        <ul>
        {% for company in blacklisted %}
            <li>{{company.ticker}}</li>
        {% endfor %}
        </ul>
        <h3>Add new company</h3>
        <form method='POST'>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="submit">Submit</button>
        </form>
    </div>
</div>


{% endblock %}