{% extends 'base.html' %}

{% block title %} Account {% endblock %}

{% block body %} 

<h1>Hi</h1>

<div>
    <h1>Your black list</h1>
    <div>
        <ul>
        {% for company in blacklisted %}
            <li>{{company.ticker}}</li>
        {% endfor %}
        </ul>
        <p>Add new company</p>
        <form method='POST'>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="submit">Submit</button>
        </form>
    </div>
</div>


{% endblock %}