{% extends 'base.html' %}

{% block title %} Assets {% endblock %}

{% block body %}
    <div class='popup' id='popup' hidden>
        <div class='popup_title_container'><h1> Trade </h1> <button onclick='collapse("popup")' class='dropdown' style='background-color: #E9ECEF; color: #ff0000;'> X </button> </div>
        <p id='selected_company'>AAPL</p>
        <input type='hidden' id='ticker'>
        <div class='buysell_radio'>
            <input type='radio' id='buy' name='action'>
            <label for='buy'>Buy</label>

            <input type='radio' id='sell' name='action'>
            <label for='sell'>Sell</label>
        </div>
        <form method='POST' onsubmit='update(event)'>
            {% csrf_token %}
            <input type='hidden' id='user-id' value='{{ user.id }}'>
            <label> Amount of stock</label>
            <input type='range' class='slider' id='slider' min=0 max=10 step=0.01 name='amount'>
            <p id='slider-output'></p>
            <button type='submit' class='submit' name='buysell'>Submit</button>
        </form>
    </div>



    <div class='grid-for-sidebar'>
        <div class='sidenav'> 
            <input type='text' onkeyup='dynamic_search(this.value)' placeholder='Search for company' id='searchbar'>
            <div id='search_results'>
            </div>
        </div>
    <div>
    {% for asset in assets %}   
    <li>    
        <div class='company'>
            <h1>{{asset.ticker|upper}}</h1>
            <h2>{{asset.amount}} │ ${{asset.price}}</h2>
            <div class='action'>
                <button onclick='create_popup("{{asset.ticker|upper}}","buy")' style='border-top-left-radius: 20px; border-bottom-left-radius: 20px; border-right: 0.5px solid #ffffff; cursor: pointer;'>Buy</button>
                <button onclick='create_popup("{{asset.ticker|upper}}","sell")' style='border-top-right-radius: 20px; border-bottom-right-radius: 20px; border-left: 0.5px solid #ffffff; cursor: pointer;'>Sell</button>
            </div>
            <button onclick='toggle_dropdown("{{asset.ticker|upper}}")' class='dropdown'>⌄</button>
        </div>
        <div class='dropdown_box' id='{{asset.ticker|upper}}-dropdown' hidden> 
            <div>
                <h3> Stock Information </h3>
                    <div id='{{asset.ticker|upper}}-info'></div>
                <h3> Indicators </h3>
            </div>
            <div>
                <iframe frameBorder='0' scrolling='no' width='100%' height='400' src='https://api.stockdio.com/visualization/financial/charts/v1/HistoricalPrices?app-key=CED8C4CE4F4E4FF0BDE9C4455A6EE38F&symbol={{asset.ticker|upper}}&addVolume=false&dividends=true&splits=true&palette=Financial-Light'></iframe>
            </div>
        </div>
    </li>
    {% endfor %}

    <div class='company'>
        <h1>Remaining Balance : ${{user.balance}}</h1>
    </div>

    </div>

<script>
    var slider = document.getElementById('slider')
    var output = document.getElementById('slider-output')
    output.innerHTML = slider.value

    slider.oninput =  function() {
        output.innerHTML = this.value
    }


</script>

{% endblock %}

