<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='{% static "css/base.css" %}'>
    {% block css %}{% endblock %}
    <script src='{% static "js/base.js" %}'></script>
    {% block js %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="navbar">
        <h1>Asset Manager</h1>
        {% if user.is_authenticated %}
        <p>Current User: {{user.username}}</p>
        {% else %}
        <a href='/login'>Not Currently logged in</a>
        {% endif %}
    </div>
    <div class='navbar'>
        <a href='/home'>Home</a>
        <a href='/watchlist'>Watchlist</a>
        <a href='/assets'>Assets</a>
        <a href='/account'>Account</a>
    </div>
    {% block body %}
    {% endblock %}
</body>
</html>