{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block body %} 
    <h1>Overview</h1>
    <table><tr>
        <td><div class="container" style="width: 300px; height: 300px;">
            <h1>Assets</h1>
        </div></td>
        <td><div class="container" style="width: 300px; height: 300px;">
            <h1>Watchlist</h1>
        </div></td>
        <td><div class="container" style="width: 300px; height: 300px;">
            <h1>Accounts</h1>
        </div></td>
     </tr></table>

     <h1>Suggested Trades</h1>
     <table><tr>
        <td><div class="container" style="width: 300px; height: 300px; background-color: #dbedd3;">
            <h1>Buy Suggestions</h1>
        </div></td>
        <td><div class="container" style="width: 300px; height: 300px; background-color: #f4cdcc;">
            <h1>Sell Suggestions</h1>
        </div></td>
     </tr></table>
{% endblock %}