{% extends 'base.html' %}

{% block title %} Watchlist {% endblock %}

{% block body %} 
    <div class='grid-for-sidebar'>
        <div class='sidenav'>
            <ul>
            {% for list in watchlists %}  
                <li><button type='radio' id='{{list}}' function='switch_watchlist()'> Watchlist {{list}}</button></li>
            {% endfor %}
            <li><button function='add_watchlist()'> + Add Watchlist</button></li>
            </ul>
        </div>    
    <ul id='watchlist'>
    {% with current_watchlist=1 %}
    {% for company in watchlist_items %}
        {% if company.watchlist == current_watchlist  %}
            <div class='company'>
                <h1>{{company.ticker|upper}}</h1>
                <div class='action'>
                    <button function='buy()' style='border-radius: 20px; width:100%; grid-column: span 2; cursor: pointer;'>Buy</button>
            
                </div>
                <button function='toggle_dropdown()' class='dropdown'>⌄</button>
            </div>
        {% endif %}
    {% endfor %}
    {% endwith %}
    </ul>
    </div>

{% endblock %}

