{% extends 'base.html' %}

{% block title %} Watchlist {% endblock %}

{% block body %} 
    <div class='popup' id='popup' hidden>
        <div class='popup_title_container'><h1> Trade </h1> <button onclick='collapse("popup")' class='dropdown' style='background-color: #E9ECEF; color: #ff0000;'> X </button> </div>
        <p id='selected_company'>AAPL</p>
        <input type='hidden' id='ticker'>
        <div class='buysell_radio'>
            <input type='radio' id='buy' name='action'>
            <label for='buy'>Buy</label>

            <input type='radio' id='sell' name='action'>
            <label for='sell'>Sell</label>
        </div>
        <form method='POST' onsubmit='update(event)'>
            {% csrf_token %}
            <input type='hidden' id='user-id' value='{{ user.id }}'>
            <label> Amount of stock</label>
            <input type='range' class='slider' id='slider' min=0 max=10 step=0.01 name='amount'>
            <p id='slider-output'></p>
            <button type='submit' class='submit' name='buysell'>Submit</button>
        </form>
    </div>

    <div class='grid-for-sidebar'>
        <div class='sidenav'>
            <ul>
            {% for list in watchlists %}  
                <li class='watchlist_selector'>
                    <label for='{{list}}'> Watchlist {{list}}</label>
                    <input type='radio' id='{{list}}' onclick='switch_watchlist("{{list}}")' name='watchlist_selector' class='watchlist_radio'></input></li>
            {% endfor %}
            <li><button onclick='add_watchlist()' class='watchlist_add'> + Add Watchlist</button></li>
            </ul>
        </div>    
    <ul id='watchlist'>
    {% for company in watchlist_items %}
        {% if company.watchlist == selected  %}
        <li>
            <div class='company'>
                <h1>{{company.ticker|upper}}</h1>
                <div class='action'>
                    <button onclick='create_popup("{{company.ticker|upper}}","buy")' style='border-radius: 20px; width:100%; grid-column: span 2; cursor: pointer;'>Buy</button>
            
                </div>
                <button onclick='toggle_dropdown("{{company.ticker|upper}}")' class='dropdown'>⌄</button>
            </div>
            <div class='dropdown_box' id='{{company.ticker|upper}}-dropdown' hidden> 
                <div>
                    <h3> Stock Information </h3>
                        <div id='{{company.ticker|upper}}-info'></div>
                    <h3> Indicators </h3>
                </div>
                <div>
                    <iframe frameBorder='0' scrolling='no' width='100%' height='400' src='https://api.stockdio.com/visualization/financial/charts/v1/HistoricalPrices?app-key=CED8C4CE4F4E4FF0BDE9C4455A6EE38F&symbol={{company.ticker|upper}}&addVolume=false&dividends=true&splits=true&palette=Financial-Light'></iframe>
                </div>
            </div>
        </li>
        {% endif %}
    {% endfor %}
    </ul>
    </div>

{% endblock %}

